/* Reset */
*{
    margin: 0px;
    padding: 0px;
    /* overflow: hidden;  */
}



/* ------------------  Styling A NavigationBar ------------------  */

@media screen and (max-width:591px)
{ 
    #NavigationBar
     {
          flex-direction: column;
     }
    
}




@media screen  and (max-width:363px){

    #NavigationBar ul li a {
       font-size: 1rem;
       padding: 0.5rem;
       margin: 5px;
    }
    
    #NavigationBar ul {
        margin-bottom: 11px;
    }
}

@media screen  and (max-width:295px)
{
    #NavigationBar ul li a {
        font-size: 0.8rem;
        padding: 0.2rem;
     }
     
     #NavigationBar ul {
         margin-bottom: 11px;
     }
}





/* ------------------  Styling A Home-Section ------------------  */

@media screen and (max-width:572px)
{ 
    #home
     {
          flex-direction: column;
          flex-wrap: nowrap;
          height: 47rem;
          justify-content: space-evenly;
          padding: 1.31rem 6.5rem;
     }
    
}

@media screen  and (max-width:295px)
{
    #home
    {
        padding: 0.05rem 0.5rem;
    }
}


/* styling a Div : Service  which contains [Div>img,h2,p] */

.Services {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    margin-left: 6px;
}



/* styling a Div:Box ,Horarchy : services>Box >img,h2,p, */

.Services .box {
    width: 90vw;
    padding: 0px;

}

.Services .box img {
 
}

/* ------------------  Styling A Client-Section ------------------  */


@media screen  and (max-width:947px) and (min-width:190px)
{
   
    /* Styling in section  */
    #Client-Container {
        /* overflow: hidden; */
        height: 343px;
    }
    
    #Client-Container::before {
        height: 343px;
       
    }
    
    /* Styling In Clients container */
    #AllClients {
        width: 91vw;
    }

    .Clients img {
        /* overflow: hidden; */
        width: 58px;
       
    }
}
