/* Css Reset */

* {
    margin: 0;
    padding: 0;
}

/* ------------------  Styling A NavigationBar ------------------  */


#NavigationBar {
    display: flex;
    align-items: center;
    position: relative; /* depends On size of its content or By edfault place*/
}

/* Adding Background By Using Before Psudo Selector */

#NavigationBar::before {
    /* It is A coumplsory*/
    content: "";
    position: absolute; /* depend On Parents*/
    width: 100%;
    height: 100%;

    /* It Is a optional */
    background-color: black;
    z-index: -1;
    /* to take backside of the menu and logo*/
    opacity: .5;
}


/* Navihation Bar : Logo */

#logo {
    margin: 10px 34px;
}

#logo img {
    height: 88px;
    margin: 10px;
}


/* Navigation Bar : Menu */

#NavigationBar ul {
    display: flex;
    align-items: center;
}

#NavigationBar ul li {
    list-style: none;
    font-size: 1.2rem;
    /* 1 rem : 16px(browser font size) if not define in root*/
}

#NavigationBar ul li a {
    color: white;
    padding: 1rem;
    /* here Is a Banifit For Giving padding : At Hover effect you can Accses all anchor tag space*/
    text-decoration: none;
    /* border: 1px solid red; */
    border-radius: 20px;

}

#NavigationBar ul li a:hover {
    color: black;
    background-color: white;
}


/* ------------------  Styling A Home-Section ------------------  */

#home{
    border: 2px solid red;
  display: flex;
  flex-direction: column;
  padding: 1.31rem 12.5rem;
  align-items: center;
  justify-content: center;
  height: 34rem;
  background:url('../bg1.jpg') no-repeat center center/cover; /* No idea : Search this*/
  opacity: .9;
}
 
   /* Adding a Background */

/* #home::before{
     /* It is A coumplsory
     content: "";
     position: absolute; /* depend On Parents
     width: 100%;
     height: 100%;
 
     /* It Is a optional 
     background:url('../bg1.jpg') no-repeat center center/cover; /* No idea : Search this
     z-index: -1;
     /* to take backside of the menu and logo
     opacity: .89;
}      */

 /* Styling in heading*/

#home h1{
    color:white;
  
}

 /* styling in paragraph*/

 #home p{
    color: white;
 }

 
 /* styling in button*/

 #Home-Button{
    padding: 10px;
    border: 2px solid white;
    font-size: 1.3rem;
    margin: 15px;
    background-color: brown;
    color: rgb(55, 160, 13);
    border-radius: 15px;
    cursor: pointer;
 }

 /* ------------------  Styling A Services-Section ------------------  */

 /* styling section */
 #services-container{
    border: 2px solid green;

 }

 /* Styling a heading */
#services-container h1{
 color: rgb(10, 10, 10);
}

/* styling a Div : Service  which contains [Div>img,h2,p] */

.Services{
    display: flex;
    margin: 2.18rem;
}



/* styling a Div:Box ,Horarchy : services>Box >img,h2,p, */

.Services .box{
    border: 2px solid blue;
    border-radius: 20px;
    margin: 10px;
    padding: 7px;
    background-color: #c3b8b4;

}
.Services .box img{
    display: block;
    height: 10rem;
    margin: auto;
}

 /* ------------------  Styling A Client-Section ------------------  */

 /* Styling in section  */
 #Client-Container{
    border: 2px solid red;
    height: 300px;
 }

 #Client-Container::before{
    content: "";
    position: absolute; /* depend On Parents */
    width: 100%;
    height: 300px;

    /* It Is a optional */
    background:url('../bg1.jpg') no-repeat center center/cover; /* No idea : Search this */
    z-index: -1;
    /* to take backside of the menu and logo*/
    opacity: .2;        
 }

 /* Styling In Clients container */
 #AllClients{
    border: 1px solid purple;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 }

 /* styling in box */

 .Clients{
    border: 1px solid blue;
    margin:34px
 }
 
 /* Styling in image */
 .Clients img{
    width: 144px;
 }

  /* ------------------  Styling A Client-Section ------------------  */

  /* Styling in section */
  #Contact-Container{
    box-sizing: border-box;
    border: 2px solid red;
    /* height: 300px; */
    position: relative; /* It Is a Important if Psudo is absolute*/
 }

 #Contact-Container::before{
    content: "";
    position: absolute; /* depend On Parents */
    width: 100%;
    height: 100%;


    /* It Is a optional */
    background:url('../contact.jpg') no-repeat center center/cover; /* No idea : Search this */
    z-index: -1;
    /* to take backside of the menu and logo*/
    opacity: .5;        
 }

 form{
    width: 40%;
 }


 /* Styling In Main container */
 #Container-All{
    box-sizing: border-box;
    border: 1px solid purple;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
 }
/* Extra div */

/* Styling in Form-Group */

.form-grp{
    border: 1px solid rgb(55, 160, 13);
    box-sizing: border-box;
    padding: .5rem;
}

 /* Styling in form Container */

 
 /* styling in section */
 
 /* styling in Main Container */
 
 
 /* Styling in Input type */
 
 #Container-All input,textarea{
    box-sizing: border-box;
        width: 100%;
        padding: .5rem;
        border-radius: 10px;
        font-size: 1.1rem;
 }
 /* Styling In text area  */




 /* Styling In A Form */

 /* ------------------  Styling A Footer ------------------  */

 .Footer-Div{
    text-align: center;
 }

 footer{
    background-color: black;
    color: white;
    padding: 15px;
 }

 /* ------------------  Utility classes ------------------  */

 /* --- Utility class for p --- */
 .p-normal{
    padding: 5px;
    font-size: 1.1rem;
    text-align: center;
 }

 
 /* --- Utility class for h1 --- */
 .h-primary{
    padding: 10px;
    font-size: 2.2rem;
    text-align: center;
 }

 /* --- Utility class for h2 --- */
 .h-secondry{
    padding: 10px;
    font-size: 1.2rem;
    text-align: center;
 }
