/* Css Reset */

* {
    margin: 0;
    padding: 0;
}

/* ------------------  Styling A NavigationBar ------------------  */


#NavigationBar {
    display: flex;
    align-items: center;
    /* position: relative; depends On size of its content or By edfault place */

     /* Changing for alignment */
     position: relative;
     top: 0px;
     left: 0px;
}

/* Adding Background By Using Before Psudo Selector */

#NavigationBar::before {
    /* It is A coumplsory*/
    content: "";
    position: absolute; /* depend On Parents*/
    width: 100%;
    height: 100%;
    /* It Is a optional */
    background-color: black;
    z-index: -1;
    /* to take backside of the menu and logo*/
    opacity: 0.7;

    /* To Make All Alihgnment Perfect */
    top: 0px;
    left: 0px;
}


/* Navihation Bar : Logo */

#logo {
    margin: 10px 34px;
}

#logo img {
    height: 88px;
    margin: 10px;
}


/* Navigation Bar : Menu */

#NavigationBar ul {
    display: flex;
    align-items: center;
}

#NavigationBar ul li {
    list-style: none;
    font-size: 1.2rem;
    /* 1 rem : 16px(browser font size) if not define in root*/
}

#NavigationBar ul li a {
    color: white;
    padding: 1rem;
    /* here Is a Banifit For Giving padding : At Hover effect you can Accses all anchor tag space*/
    text-decoration: none;
    /* border: 1px solid red; */
    border-radius: 20px;

}

#NavigationBar ul li a:hover {
    color: black;
    background-color: white;
}


/* ------------------  Styling A Home-Section ------------------  */

#home{
    border: 2px solid red;
  display: flex;
  flex-direction: column;
  padding: 1.31rem 12.5rem;
  align-items: center;
  justify-content: center;
  height: 286px; /* Change for alignment*/
  /* background:url('../bg1.jpg') no-repeat center center/cover; No idea : Search this */
  /* opacity: 0.0; */
}
 
   /* Adding a Background */

#home::before{
     /* It is A coumplsory */
     content: "";
     position: absolute; /* depend On Parents */
     width: 100%;
     height: 78%; /* change for alignment*/
     /* It Is a optional */
     background:url('../bg1.jpg') no-repeat center center/cover; /* No idea : Search this */
     z-index: -1;
     /* to take backside of the menu and logo*/
     opacity: .89;

     /* To Make All Alignment Good and Perfect */

     top: 0;
     left: 0;
}     

 /* Styling in heading*/

#home h1{
    color:white;
  
}

 /* styling in paragraph*/

 #home p{
    color: white;
 }

 
 /* styling in button*/

 #Home-Button{
    padding: 10px;
    border: 2px solid white;
    font-size: 1.3rem;
    margin: 15px;
    background-color: brown;
    color: rgb(55, 160, 13);
    border-radius: 15px;
    cursor: pointer;
 }

 /* ------------------  Styling A Services-Section ------------------  */

 /* styling section */
 #services-container{
    border: 2px solid green;

 }

 /* Styling a heading */
#services-container h1{
 color: rgb(10, 10, 10);
}

/* styling a Div : Service  which contains [Div>img,h2,p] */

.Services{
    display: flex;
    margin: 2.18rem;
}

.Services{}

.Services{}



/* styling a Div:Box ,Horarchy : services>Box >img,h2,p, */

.Services .box{
    border: 2px solid blue;
    border-radius: 20px;
    margin: 10px;
    padding: 7px;
    background-color: #c3b8b4;

}
.Services .box img{
    display: block;
    height: 10rem;
    margin: auto;
}

 /* ------------------  Utility classes ------------------  */

 /* --- Utility class for p --- */
 .p-normal{
    padding: 5px;
    font-size: 1.1rem;
    text-align: center;
 }

 
 /* --- Utility class for h1 --- */
 .h-primary{
    padding: 10px;
    font-size: 2.2rem;
    text-align: center;
 }

 /* --- Utility class for h2 --- */
 .h-secondry{
    padding: 10px;
    font-size: 1.2rem;
    text-align: center;
 }
